.CaseMain {
  background-color: var(--black);
  position: relative;
  z-index: 2;
  margin-top: -1px;
}

.Grid {
  padding-top: 2.5rem;
}
.Image {
  position: relative;
  width: 100%;
  height: 40rem;
}

.ContentWrapper {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.ContentWrapper h2 {
  font-family: "PPNeue-Medium";
  font-weight: 500;
  line-height: 126%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 1rem;
}

.ContentWrapper p {
  line-height: 130%;
  color: var(--gray);
}

.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.OverviewSection {
  padding-bottom: 5rem;
}

.TechSection {
  margin-bottom: 5rem;
}

.TechItem {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--gray);
}

.NumberWrapper {
  display: flex;
  width: 50%;
  align-items: center;
}
.TechContent {
  display: flex;
  width: 50%;
}
.Tech {
  display: flex;
  width: 50%;
  align-items: center;
  column-gap: 0.5rem;
}
.Number {
  color: var(--gray);
  width: 25%;
}
.Description {
  font-size: 1.625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--gray);
}

.TechDescription {
  font-size: 1.625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--primary-white);
}
.TechItem:nth-of-type(6) {
  border-bottom: none;
  padding-bottom: 0;
}

.ChallengeSection {
  padding-bottom: 5rem;
}

.ImageChallenge {
  position: relative;
  width: 100%;
}

.ChallengeGrid {
  padding-top: 2.5rem;
}

.ChallengeGrid div:nth-of-type(1) {
  height: 35rem;
  grid-column-start: 1;
  grid-column-end: 5;
}
.ChallengeGrid div:nth-of-type(2) {
  height: 25rem;
  grid-column-start: 5;
  grid-column-end: 8;
}
.ChallengeGrid div:nth-of-type(3) {
  height: 52rem;
  grid-column-start: 8;
  grid-column-end: 13;
}
.ContentWrapperChallenge {
  width: 33.33%;
  margin-top: -15rem;
}

.SolutionGrid {
  justify-content: start;
  padding-top: 2.5rem;
}
.SolutionCollFour {
  grid-column-start: 9;
  grid-column-end: 13;
}
.SolutionCollEight {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.SolutionSection {
  padding-bottom: 5rem;
}
.OutcoemSection {
  padding-bottom: 5rem;
}

.MiddleSection {
  padding-bottom: 5rem;
}
.GridMiddle {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 5rem;
  grid-template-rows: auto auto auto;
}
.CollFourMiddle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.CollTwelveMiddle {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}

.CollEightMiddle {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
}

.ImageLarge {
  position: relative;
  width: 100%;
  height: 50rem;
}
@media screen and (max-width: 1439px) {
  .ContentWrapperChallenge {
    width: 36%;
  }
}

@media screen and (max-width: 991px) {
  .Grid {
    padding-top: 0;
  }
  .OverviewSection .ContentWrapper {
    flex-direction: row;
  }
  .OverviewSection .DescriptionWrapper {
    width: 50%;
  }
  .OverviewSection .Image {
    height: 61vw;
    margin-top: 5rem;
  }
  .NumberWrapper {
    width: 60%;
  }
  .Number {
    width: 20%;
  }
  .ChallengeGrid {
    padding-top: 0;
    grid-template-rows: auto auto;
  }
  .ChallengeGrid div:nth-of-type(1) {
    height: 60vw;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .ChallengeGrid div:nth-of-type(2) {
    height: 43vw;
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .ChallengeGrid div:nth-of-type(3) {
    height: 83vw;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -15.5vw;
  }
  .ContentWrapperChallenge {
    width: 50%;
    margin-top: -17.5rem;
  }
  .SolutionGrid {
    padding-top: 0;
  }
  .SolutionCollEight {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .SolutionCollFour {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .SolutionSection .Image {
    height: 100%;
  }
  .OverviewSection .ContentWrapper {
    justify-content: space-between;
  }
  .ContentWrapper {
    justify-content: flex-start;
  }
  .GridMiddle {
    padding-top: 0;
    row-gap: 2.5rem;
  }
  .CollFourMiddle {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .CollEightMiddle {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .MiddleSection .ImageLarge {
    height: 52.5vw;
  }
  .OutcoemSection .ContentWrapper {
    width: 50%;
  }
  .OutcoemSection .Image {
    margin-top: 5rem;
    height: 68vw;
  }
}
@media screen and (max-width: 767px) {
  .ContentWrapper h2 {
    font-size: 16px;
  }
  .TechItem {
    flex-direction: column;
  }
}
