.CaseSection {
  background-color: var(--white);
}
.Coll5 {
  grid-column-end: 6;
}
.OverColl4 {
  height: 100%;
}
.HeroWrapper {
  padding-top: 19rem;
  padding-bottom: 7.5rem;
}
.Grid {
  align-items: center;
}
.HeroTitle h1 {
  font-family: "PPNeueBit-Bold";
  color: var(--black);
  font-size: 6.875rem;
  line-height: 100%;
}
.HeroDescription {
  font-size: 1.625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--gray);
  font-family: "PPNeue-Book";
}

.Coll6 {
  grid-column-start: 7;
  grid-column-end: 13;
  width: 100%;
  padding-left: 16.66%;
}
.Image {
  position: relative;
  width: 100%;
  height: 100%;
}
.ImageMobile {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
/* horisontal scroll*/
.SectionHeight {
  height: 600vh;
}
.StickyElement {
  position: sticky;
  top: 4rem;
  z-index: 2;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}
.Track {
  transform: translate(0px, 0px);
  position: relative;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.TrackFlex {
  display: flex;
  height: 100%;
  margin-right: -100vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.HeroPanel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.HeroPanelImage {
  transform: scale(1, 1);
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.NotePanel {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.22em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: var(--white);
}
.NotePanelContain {
  position: relative;
  display: flex;
  width: 20.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.NotePanelImg {
  width: 100%;
  margin-bottom: 1rem;
  height: 24rem;
  background-color: var(--white);
}
.NotePanelImageHeight {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100%;
}

.ThanksPanelWrapp {
  position: relative;
  z-index: 3;
  width: 200vw;
  height: 100vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ThanksPanel {
  transform: translate(0px, 0px);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  -webkit-transform: translate(0%, 0px);
  -ms-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}

.ThanksPanelContain {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  flex-direction: column;
}

.ThanksPanelContainTwo {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  position: absolute;
  left: -0.02vw;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: var(--black);
  color: #fff;
  display: flex;
  width: 100.02vw;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.ThanksPanelImageOne {
  /* margin-top: 7.7em;
  margin-left: -60.5em; */
  margin-top: -15em;
  margin-left: -37em;
  /* position: absolute; */
  z-index: -1;
  width: 13.5rem;
  height: 18.5rem;
}

.ThanksPanelImageTwo {
  /* margin-top: 22.3em;
  margin-left: -6em; */
  /* position: absolute; */
  margin-left: -14em;
  margin-top: -12em;
  z-index: -1;
  width: 20.75rem;
  height: 18.5rem;
}

.ThanksPanelImageThree {
  /* margin-top: -15.3em;
  margin-left: 52em;
  position: absolute; */
  margin-top: -37em;
  margin-left: 14.5em;
  z-index: -1;
  width: 20.75rem;
  height: 14.5rem;
}

.ThanksPanelImageHeight {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ThanksPanelPhoto {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.ThanksPaneRelative {
  width: 5px;
  height: 5px;
}

/*horisontal scroll end*/

.DescriptionPanel {
  line-height: 140%;
  color: var(--gray);
}

.Title {
  font-family: "PPNeueBit-Bold";
  font-size: 13.75rem;
  line-height: 100%;
  color: var(--black);
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
}
.TitleWhite {
  font-family: "PPNeueBit-Bold";
  font-size: 13.75rem;
  line-height: 100%;
  color: var(--white);
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
}

/* main start */
.CaseMain {
  background-color: var(--black);
  position: relative;
  z-index: 2;
  margin-top: -1px;
}

.Grid {
  padding-top: 2.5rem;
}
.ImageMain {
  position: relative;
  width: 100%;
  height: 40rem;
}

.ContentWrapper {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.ContentWrapper h2 {
  font-family: "PPNeue-Medium";
  font-weight: 500;
  line-height: 126%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 1rem;
}

.ContentWrapper p {
  line-height: 130%;
  color: var(--gray);
}

.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.OverviewSection {
  padding-bottom: 5rem;
}

.TechSection {
  margin-bottom: 5rem;
}

.TechItem {
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--gray);
}

.NumberWrapper {
  display: flex;
  width: 50%;
  align-items: center;
}
.TechContent {
  display: flex;
  width: 50%;
}
.Tech {
  display: flex;
  width: 50%;
  align-items: center;
  column-gap: 0.5rem;
}
.Number {
  color: var(--gray);
  width: 25%;
}
.Description {
  font-size: 1.625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--gray);
}

.TechDescription {
  font-size: 1.625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--primary-white);
}
.TechItem:nth-of-type(6) {
  border-bottom: none;
  padding-bottom: 0;
}

.ChallengeSection {
  padding-bottom: 5rem;
}

.ImageChallenge {
  position: relative;
  width: 100%;
}

.ChallengeGrid {
  padding-top: 2.5rem;
}

.ChallengeGrid div:nth-of-type(1) {
  height: 35rem;
  grid-column-start: 1;
  grid-column-end: 5;
}
.ChallengeGrid div:nth-of-type(2) {
  height: 25rem;
  grid-column-start: 5;
  grid-column-end: 8;
}
.ChallengeGrid div:nth-of-type(3) {
  height: 52rem;
  grid-column-start: 8;
  grid-column-end: 13;
}
.ContentWrapperChallenge {
  width: 33.33%;
  margin-top: -15rem;
}

.SolutionGrid {
  justify-content: start;
  padding-top: 2.5rem;
}
.SolutionCollFour {
  grid-column-start: 9;
  grid-column-end: 13;
}
.SolutionCollEight {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.SolutionSection {
  padding-bottom: 5rem;
}
.OutcoemSection {
  padding-bottom: 5rem;
}

.MiddleSection {
  padding-bottom: 5rem;
}
.GridMiddle {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 5rem;
  grid-template-rows: auto auto auto;
}
.CollFourMiddle {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.CollTwelveMiddle {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}

.CollEightMiddle {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
}

.ImageLarge {
  position: relative;
  width: 100%;
  height: 50rem;
}

/* main end */

/*project start*/

.HeroMobile {
  display: none;
}

.HeroWrapperProject {
  height: 400vh;
  width: 100%;
}

.HeroStickyProject {
  position: sticky;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageWrapperProject {
  overflow: hidden;
  width: 40rem;
  background-color: transparent;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageProject {
  position: relative;
  width: 100%;
  height: 100vh;
}

.TitleWrapperDesktop {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  width: 49.74rem;
  text-align: center;
}

.TitleWrapperDesktop h1 {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
}

.DateWrapper {
  position: absolute;
  width: 49.74rem;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  text-align: center;
}

.DateWrapper p {
  font-family: "PPNeue-Medium";
  font-size: 1rem;
  line-height: 100%;
  color: var(--gray);
  margin-top: 35rem;
}

.ProjectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  margin-top: 250px;
}

.NumberWrapperProject {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.NumberWrapperProject p:nth-of-type(1) {
  color: var(--white);
}
.NumberWrapperProject p:nth-of-type(2) {
  color: var(--gray);
}

.ProjectLine {
  height: 1px;
  background-color: var(--gray);
  width: 9.3rem;
}
.ProjectLine div {
  background-color: var(--white);
  height: 100%;
  width: 0%;
}
.Next {
  font-size: 1.625rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-white);
}
.ProjectSection {
  background-color: var(--black);
}
@media screen and (max-width: 1439px) {
  .Coll6 {
    padding-left: 9.5%;
  }

  .ThanksPanelImageOne {
    margin-left: -42em;
    margin-top: -17em;
  }
  .ThanksPanelImageTwo {
    /* margin-top: 22em;
    margin-left: -7em; */
    height: 16rem;
    margin-top: -13.5em;
    margin-left: -16em;
  }

  .ThanksPanelImageThree {
    margin-top: -39em;
    margin-left: 16.5em;
  }

  /* main */
  .ContentWrapperChallenge {
    width: 36%;
  }
}
@media screen and (max-width: 991px) {
  .Coll6 {
    padding-left: 0%;
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .HeroDescription {
    max-width: 564px;
  }
  .HeroTitle h1 {
    line-height: 80%;
    margin-bottom: 1rem;
  }
  .Title,
  .TitleWhite {
    font-size: 174px;
  }
  .NotePanel {
    margin-right: 4em;
  }
  .ThanksPaneRelative {
    width: 90vw;
  }
  .ThanksPanelImageOne {
    margin-top: -30em;
    margin-left: 0;
    z-index: -1;
    width: 25%;
    height: 240px;
  }
  .ThanksPanelImageTwo {
    margin-top: 1.5em;
    margin-left: 25.25%;
    margin-right: 0;
    width: 37.5%;
    height: 240px;
  }
  .ThanksPanelImageThree {
    width: 37.5%;
    height: 192px;
    margin-top: -37.7em;
    margin-left: auto;
    margin-right: 0;
  }

  /* main */
  .Grid {
    padding-top: 0;
  }
  .OverviewSection .ContentWrapper {
    flex-direction: row;
  }
  .OverviewSection .DescriptionWrapper {
    width: 50%;
  }
  .OverviewSection .ImageMain {
    height: 61vw;
    margin-top: 5rem;
  }
  .NumberWrapper {
    width: 60%;
  }
  .Number {
    width: 20%;
  }
  .ChallengeGrid {
    padding-top: 0;
    grid-template-rows: auto auto;
  }
  .ChallengeGrid div:nth-of-type(1) {
    height: 60vw;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .ChallengeGrid div:nth-of-type(2) {
    height: 43vw;
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .ChallengeGrid div:nth-of-type(3) {
    height: 83vw;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: -15.5vw;
  }
  .ContentWrapperChallenge {
    width: 50%;
    margin-top: -17.5rem;
  }
  .SolutionGrid {
    padding-top: 0;
  }
  .SolutionCollEight {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .SolutionCollFour {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .SolutionSection .ImageMain {
    height: 100%;
  }
  .OverviewSection .ContentWrapper {
    justify-content: space-between;
  }
  .ContentWrapper {
    justify-content: flex-start;
  }
  .GridMiddle {
    padding-top: 0;
    row-gap: 2.5rem;
  }
  .CollFourMiddle {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .CollEightMiddle {
    grid-column-start: 7;
    grid-column-end: 13;
  }
  .MiddleSection .ImageLarge {
    height: 52.5vw;
  }
  .OutcoemSection .ContentWrapper {
    width: 50%;
  }
  .OutcoemSection .ImageMain {
    margin-top: 5rem;
    height: 68vw;
  }
  /* project*/
  .HeroStickyProject {
    margin-top: -30vh;
  }

  .DotWrapperProject {
    background-color: var(--black);
    position: relative;
    z-index: 2;
    padding-bottom: 5rem;
    margin-bottom: 0;
  }
  .HeroImageWrapperProject {
    width: 560px;
    height: 328px;
  }
  .ProjectWrapper {
    margin-top: 220px;
  }
  .Coll5 {
    grid-column-end: 13;
  }
}
@media screen and (max-width: 767px) {
  .HeroWrapper {
    padding-top: 208px;
    padding-bottom: 80px;
  }
  .HeroTitle h1 {
    line-height: 80%;
    font-size: 68px;
  }
  .HeroDescription {
    font-size: 16px;
  }
  .StickyElement {
    top: 47px;
  }

  .HeroPanelImage .Image {
    display: none;
  }
  .ImageMobile {
    display: block;
  }
  .NotePanelImg {
    height: 100%;
  }
  .Title,
  .TitleWhite {
    font-size: 78px;
  }
  .ThanksPanelImageOne {
    width: 52%;
    height: 236px;
    margin-top: -23em;
  }
  .ThanksPanelImageTwo {
    width: 53%;
    height: 170px;
    margin-top: -2.5em;
  }
  .ThanksPanelImageThree {
    width: 52%;
    height: 124px;
    margin-top: -25.7em;
  }
  .SectionHeight {
    height: 400vh;
  }

  /*main*/
  .ContentWrapper h2 {
    font-size: 16px;
  }

  .OverviewSection .ContentWrapper {
    flex-direction: column;
  }
  .OverviewSection .DescriptionWrapper {
    width: 100%;
  }
  .OverviewSection .ImageMain {
    margin-top: 2.5rem;
    height: 65vw;
  }
  .OverviewSection {
    padding-bottom: 2.5rem;
  }
  .TechItem {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .Number {
    font-size: 12px;
    width: 28px;
  }
  .Description {
    font-size: 14px;
  }
  .TechDescription {
    font-size: 14px;
  }
  .Tech {
    column-gap: 4px;
  }
  .Tech span {
    width: 16px !important;
    height: 16px !important;
  }
  .TechWrapper {
    margin-top: 8px;
  }
  .TechItem:nth-of-type(6) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;
  }

  .ChallengeGrid {
    grid-template-rows: 90vw 80vw 284px 480px;
    row-gap: 16px;
  }
  .ChallengeGrid div:nth-of-type(1) {
    height: 90vw;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .ChallengeGrid div:nth-of-type(2) {
    height: 80vw;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .ChallengeGrid div:nth-of-type(3) {
    height: 480px;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: 0;
  }
  .ContentWrapperChallenge {
    width: 100%;
    margin-top: 0;
    position: absolute;
    bottom: 546px;
  }
  .ChallengeSection {
    position: relative;
    padding-bottom: 2.5rem;
  }
  .SolutionSection {
    padding-bottom: 40px;
  }
  .SolutionGrid {
    grid-template-rows: 1fr 1fr;
  }
  .SolutionCollFour {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 40px;
  }
  .SolutionCollEight {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .CollFourMiddle {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .CollEightMiddle {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .MiddleSection {
    padding-bottom: 2.5rem;
  }
  .OutcoemSection {
    padding-bottom: 2.5rem;
  }
  .OutcoemSection .ContentWrapper {
    width: 100%;
  }
  .OutcoemSection .ImageMain {
    margin-top: 2.5rem;
    height: 63vw;
  }

  /* project */
  .ProjectWrapper {
    margin-top: 145px;
    row-gap: 1rem;
  }
  .TitleWrapperDesktop {
    width: 100%;
  }
  .TitleWrapperDesktop h1 {
    font-size: 42px;
  }
  .BgColor {
    background-color: var(--black);
    position: relative;
    z-index: 1;
  }
  .Next {
    font-size: 16px;
  }
  .HeroImageWrapperProject {
    width: 90vw;
    height: 53vw;
  }
  .HeroStickyProject {
    margin-top: -34vh;
  }
}
