.CaseSection {
  background-color: var(--white);
}
.HeroWrapper {
  padding-top: 19rem;
  padding-bottom: 7.5rem;
}
.Grid {
  align-items: center;
}
.HeroTitle h1 {
  font-family: "PPNeueBit-Bold";
  color: var(--black);
  font-size: 6.875rem;
  line-height: 100%;
}
.HeroDescription {
  font-size: 1.625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--gray);
  font-family: "PPNeue-Book";
}

.Coll6 {
  grid-column-start: 7;
  grid-column-end: 13;
  width: 100%;
  padding-left: 16.66%;
}
.Image {
  position: relative;
  width: 100%;
  height: 100%;
}
/* horisontal scroll*/
.SectionHeight {
  height: 600vh;
}
.StickyElement {
  position: sticky;
  top: 4rem;
  z-index: 2;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}
.Track {
  transform: translate(0px, 0px);
  position: relative;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.TrackFlex {
  display: flex;
  height: 100%;
  margin-right: -100vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.HeroPanel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.HeroPanelImage {
  transform: scale(1, 1);
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.NotePanel {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2.22em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: var(--white);
}
.NotePanelContain {
  position: relative;
  display: flex;
  width: 20.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.NotePanelImg {
  width: 100%;
  margin-bottom: 1rem;
  height: 24rem;
  background-color: var(--white);
}
.NotePanelImageHeight {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100%;
}

.ThanksPanelWrapp {
  position: relative;
  z-index: 3;
  width: 200vw;
  height: 100vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ThanksPanel {
  transform: translate(0px, 0px);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  -webkit-transform: translate(0%, 0px);
  -ms-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}

.ThanksPanelContain {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  flex-direction: column;
}

.ThanksPanelContainTwo {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  position: absolute;
  left: -0.02vw;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: var(--black);
  color: #fff;
  display: flex;
  width: 100.02vw;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.ThanksPanelImageOne {
  /* margin-top: 7.7em;
  margin-left: -60.5em; */
  margin-top: -15em;
  margin-left: -37em;
  /* position: absolute; */
  z-index: -1;
  width: 13.5rem;
  height: 18.5rem;
}

.ThanksPanelImageTwo {
  /* margin-top: 22.3em;
  margin-left: -6em; */
  /* position: absolute; */
  margin-left: -14em;
  margin-top: -12em;
  z-index: -1;
  width: 20.75rem;
  height: 18.5rem;
}

.ThanksPanelImageThree {
  /* margin-top: -15.3em;
  margin-left: 52em;
  position: absolute; */
  margin-top: -37em;
  margin-left: 14.5em;
  z-index: -1;
  width: 20.75rem;
  height: 14.5rem;
}

.ThanksPanelImageHeight {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ThanksPanelPhoto {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.ThanksPaneRelative {
  background-color: red;
  width: 5px;
  height: 5px;
}

/*horisontal scroll end*/

.DescriptionPanel {
  line-height: 140%;
  color: var(--gray);
}

.Title {
  font-family: "PPNeueBit-Bold";
  font-size: 13.75rem;
  line-height: 100%;
  color: var(--black);
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
}
.TitleWhite {
  font-family: "PPNeueBit-Bold";
  font-size: 13.75rem;
  line-height: 100%;
  color: var(--white);
  letter-spacing: 0.02em;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1439px) {
  .Coll6 {
    padding-left: 9.5%;
  }

  .ThanksPanelImageOne {
    margin-left: -42em;
    margin-top: -17em;
  }
  .ThanksPanelImageTwo {
    /* margin-top: 22em;
    margin-left: -7em; */
    height: 16rem;
    margin-top: -13.5em;
    margin-left: -16em;
  }

  .ThanksPanelImageThree {
    margin-top: -39em;
    margin-left: 16.5em;
  }
}
