.CaseItemWrapper {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.CaseItem {
  width: 100%;
}

.CaseImageWrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.CaseImage {
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 25rem;
}

.CaseContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.CaseContent h2 {
  font-family: "PPNeue-Medium";
  font-weight: 500;
  font-size: 1.635rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  width: 50%;
}

.CaseContent p {
  color: var(--gray);
  line-height: 130%;
  max-width: 20.75rem;
}
.CaseItemWrapper:hover .CaseImage {
  transform: scale(1.02);
}

.CaseItemWrapper:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1439px) {
  .CaseImage {
    height: 20rem;
  }
}

@media screen and (max-width: 991px) {
  .CaseImage {
    height: 43vw;
  }
}

@media screen and (max-width: 767px) {
  .CaseImage {
    height: 329px;
  }
  .CaseContent p {
    font-size: 14px;
  }
  .CaseContent {
    row-gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .CaseContent h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .CaseImage {
    height: 87vw;
  }
}
