.CaseItemWrapper {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.CaseItem {
  width: 100%;
}

.CaseImageWrapper {
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.CaseImage {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.CaseContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.CaseContent h2 {
  font-family: "PPNeue-Medium";
  font-weight: 500;
  font-size: 1.635rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  width: 50%;
}

.CaseContent p {
  color: var(--gray);
}
.CaseItemWrapper:hover .CaseImage {
  transform: scale(1.02);
}

.CaseItemWrapper:hover {
  opacity: 0.6;
}
@media screen and (max-width: 991px) {
  .CaseContent {
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: flex-start;
  }

  .CaseContent h2 {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .CaseImageWrapper {
    margin-bottom: 16px;
  }
  .CaseContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .CaseContent h2 {
    font-size: 1rem;
  }
  .CaseContent p {
    font-size: 14px;
  }
}
