.HeroWrapper {
  padding-top: 14rem;
  padding-bottom: 5rem;
  width: 100%;
}
.HeroContent {
  width: 58.33%;
  margin-left: auto;
}
.InputWrapper input:focus {
  outline-color: transparent;
  outline-style: none;
}
.HeroContent h1 {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
  line-height: 80%;
  max-width: 36.25rem;
  margin-bottom: 1.5rem;
}
.HeroContent p {
  font-size: 1.625rem;
  line-height: 130%;
  color: var(--gray);
}
.DotWrapper {
  align-items: flex-start;
}
.DotWrapper p {
  line-height: 130%;
}
.Dot {
  margin-top: 0.32rem;
}
.Gray {
  max-width: 212px;
}
.Gray span {
  color: var(--primary-white);
  text-decoration: underline;
  cursor: pointer;
}
.ContactWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 15.125rem;
}

.ContactLeft {
  max-width: 221px;
  margin-top: auto;
}

.ContactLeft p {
  line-height: 130%;
  color: var(--gray);
}

.ContactRight {
  width: 58.33%;
}
.TitleWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  margin-bottom: 1.5rem;
}
.TitleWrapper h2 {
  font-family: "PPNeueBit-Bold";
  font-size: 4.25rem;
  line-height: 80%;
  letter-spacing: -0.02em;
}
.TitleWrapper span {
  margin-bottom: 0.33rem !important;
}
.ContactWrapper form {
  width: 100%;
  position: relative;
}

.ContactWrapper form .InputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.InputFields {
  padding-bottom: 1.5rem;
}
.InputWrapper input {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 37.5%;
  padding-bottom: 1rem;
  font-family: "PPNeue-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 100%;
  color: var(--white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray);
  transition: all 0.3s ease;
}

.InputWrapper input::placeholder {
  text-transform: uppercase;
  color: var(--gray);
}

.InputWrapper input:focus-visible {
  outline: none;
}

.InputWrapper input:focus {
  border-bottom: 1px solid var(--yellow);
}

.RadioButtons {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 4rem;
}

.RadioButtons:nth-of-type(5) {
  margin-bottom: 0;
}

.InputWrapperRadio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.RadioWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.RadioWrapper label {
  background-color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: 6.25rem;
  border: 1px solid var(--gray);
  font-size: 1.625rem;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--gray);
  transform: none;
  transition: all 0.3s ease-in-out;
}

.RadioWrapper input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.Radio:checked + .Label {
  background-color: var(--white);
  color: var(--black);
  transform: translateY(-2px);
}

.InputWrapperButton {
  position: absolute;
  bottom: -7.625rem;
  right: 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.InputWrapperButton p {
  line-height: 120%;
  text-align: right;
  color: var(--gray);
  max-width: 13.5rem;
}

.InputWrapperButton span {
  text-decoration: underline;
  cursor: pointer;
}
.Submit {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.5rem;
  border-radius: 6.25rem;
  color: var(--black);
  font-size: 1.625rem;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "PPNeue-Medium";
  cursor: pointer;
  height: 2.625rem;
}

@media screen and (max-width: 1439px) {
  .HeroContent {
    width: 66%;
  }

  .ContactRight {
    width: 66%;
  }
}

@media screen and (max-width: 991px) {
  .HeroContent {
    width: 100%;
  }
  .ContactWrapper {
    flex-direction: column;
    margin-bottom: 162px;
  }
  .ContactMain {
    position: relative;
  }
  .ContactLeft {
    position: absolute;
    top: 16px;
    right: 0;
    width: 33%;
    max-width: none;
  }
  .ContactLeft p {
    width: 100%;
  }
  .ContactRight {
    width: 100%;
  }

  .InputWrapper {
    column-gap: 16px;
  }
  .InputWrapper input {
    width: 50%;
    font-size: 24px;
  }
  .RadioWrapper label {
    /* font-size: 3.117vw; */
    font-size: 24px;
  }
  .Submit {
    font-size: 24px;
  }
  .InputWrapperButton {
    right: auto;
    column-gap: 32px;
  }
  .InputWrapperButton p {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .HeroWrapper {
    padding-top: 168px;
    padding-bottom: 40px;
  }
  .HeroContent h1 {
    font-size: 68px;
    margin-bottom: 16px;
  }
  .HeroContent p {
    font-size: 16px;
  }
  .TitleWrapper h2 {
    font-size: 44px;
  }
  .InputWrapper input {
    width: 50%;
    font-size: 16px;
  }
  .RadioWrapper label {
    /* font-size: 3.117vw; */
    font-size: 14px;
  }
  .Submit {
    font-size: 16px;
  }
  .InputWrapperRadio {
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .RadioWrapper label {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .ContactLeft {
    position: static;
    width: 100%;
    margin-bottom: 40px;
  }
  .ContactLeft p {
    font-size: 14px;
    max-width: 336px;
  }
  .DotWrapper {
    margin-bottom: 24px;
  }
  .TitleWrapper {
    column-gap: 8px;
  }
  .TitleWrapper span {
    width: 23px !important;
    height: 24px !important;
    margin-bottom: 0.4rem !important;
  }
  .ContactWrapper form .InputWrapper {
    flex-direction: column;
    margin-bottom: 0;
  }
  .InputFields {
    margin-bottom: 40px;
    padding-bottom: 0;
  }
  .InputFields .InputWrapper:nth-of-type(1) input:nth-of-type(1) {
    padding-top: 0;
  }
  .InputWrapper input {
    width: 100%;
    padding-top: 16px;
  }
  .RadioButtons {
    margin-bottom: 40px;
  }
  .ContactWrapper {
    padding-bottom: 24px;
    margin-bottom: 198px;
  }
  .InputWrapperButton {
    flex-direction: column-reverse;
    width: 100%;
    bottom: -141px;
  }
  .Submit {
    height: 38px;
    margin-bottom: 16px;
    width: 100%;
  }
  .InputWrapperButton p {
    text-align: center;
    max-width: 233px;
  }

  .RadioButtons:nth-of-type(5) {
    width: 330px;
  }
  .Dot {
    margin-top: 4px;
  }
  .HeroContent h1 {
    max-width: 336px;
  }
  .ContactLeft {
    width: 336px;
  }
}
