.Footer {
  background-color: var(--white);
}
.FooterNone {
  display: none;
}

.FooterWrapper {
  padding-top: 5rem;
}

.FooterTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.LinksWrapper {
  width: 66.66%;
  display: flex;
  justify-content: flex-start;
}

.LinkWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.LinkWrapper:nth-of-type(1) {
  width: 37.5%;
}
.LinkWrapper:nth-of-type(2) {
  width: 25%;
}
.LinkWrapper:nth-of-type(3) {
  width: 25%;
}
.LinkWrapper:nth-of-type(4) {
  width: 12.5%;
}

.Links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.LinkWrapper p {
  color: #d9d9d9;
  text-transform: uppercase;
}

.FooterFormWrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2.5rem;
}

.FooterFormWrapper h2 {
  max-width: 22.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black);

  font-family: "PPNeue-Medium";
  font-weight: 500;
}
.FooterFormWrapper form {
  margin-top: auto;
}
.InputWrapper {
  position: relative;
  max-width: 20.75rem;
}

.InputWrapper input:focus {
  outline-color: transparent;
  outline-style: none;
}

.InputWrapper input {
  background-color: transparent;
  border-bottom: 1px solid var(--black) !important;
  border: none;
  padding-bottom: 1.125rem;
  padding-left: 1.375rem;
  padding-right: 1.5rem;
  width: 100%;
  font-family: "PPNeue-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: var(--black);
  transition: all 0.3s ease;
}

.InputWrapper input:focus-visible {
  outline: none;
}

.InputWrapper input:focus {
  border-bottom: 1px solid rgba(6, 8, 15, 0.3) !important;
}

.InputWrapper input::placeholder {
  color: var(--gray);
}

.Submit {
  position: absolute;
  right: 0;
  top: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.InputDot {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--black);
  border-radius: 100%;
  position: absolute;
  top: 0.312rem;
}

.FooterBottom {
  border-top: 1px solid var(--primary-white);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.Dot {
  width: 40.27%;
}

.Dot div {
  background-color: var(--gray);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
}

.CopyRight {
  width: 42.73%;
}

.Privacy {
  width: 15%;
}

.FooterText {
  font-family: "PPNeue-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 100%;
  color: var(--gray);
}

.Privacy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Privacy a {
  font-size: 0.875rem;
  color: var(--gray);
  margin-right: 1.5rem;
}
@media screen and (max-width: 1279px) {
  /* .FooterFormWrapper {
    max-width: 35%;
  } */
  .Dot {
    margin-right: 5.27%;
    max-width: 35%;
  }

  .Privacy a {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .FooterFormWrapper {
    row-gap: 32px;
    width: 39%;
  }
  .FooterFormWrapper h2 {
    padding-bottom: 8px;
  }

  .FooterBottom {
    padding-bottom: 40px;
  }

  .LinksWrapper {
    justify-content: space-between;
    width: 55%;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .LinkWrapper:nth-of-type(1) {
    width: 50%;
  }
  .LinkWrapper:nth-of-type(2) {
    width: 50%;
    padding-left: 25%;
  }
  .LinkWrapper:nth-of-type(3) {
    width: 50%;
  }
  .LinkWrapper:nth-of-type(4) {
    width: 50%;
    padding-left: 25%;
  }
  .FooterTop {
    padding-bottom: 40px;
    align-items: flex-start;
  }
  .FooterBottom {
    justify-content: space-between;
  }
  .Dot {
    margin-right: 8px;
    max-width: none;
    width: auto;
    display: flex;
    align-items: center;
  }
  .CopyRight {
    width: auto;
    margin-right: auto;
  }
  .Privacy {
    width: auto;
    column-gap: 24px;
  }
  .Privacy a {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .FooterWrapper {
    padding-top: 40px;
  }
  .FooterTop {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .FooterFormWrapper {
    max-width: none;
    width: 100%;
    row-gap: 0;
    margin-bottom: 70px;
  }
  .InputWrapper input {
    padding-bottom: 1rem;
  }

  .FooterFormWrapper h2 {
    margin-top: 40px;
    padding-bottom: 0;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .LinksWrapper {
    width: auto;
  }
  .LinkWrapper {
    row-gap: 24px;
  }
  .LinkWrapper p {
    font-size: 14px;
  }
  .FooterBottom {
    padding-bottom: 32px;
    flex-direction: column;
    row-gap: 1rem;
  }
  .Dot {
    display: none;
  }

  .Privacy {
    column-gap: 1rem;
  }
  .InputWrapper {
    max-width: none;
  }
}
