.HeroWrapper {
  padding-top: 19rem;
  padding-bottom: 14.8rem;
}

.HeroItem {
  width: 100%;
  margin-left: auto;
}
.HeroItem h1 {
  max-width: 42rem;
}

.HeroItem h1 span {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
  color: var(--yellow);
}

@media screen and (max-width: 991px) {
  .HeroWrapper {
    padding-top: 304px;
    padding-bottom: 248px;
  }

  .HeroItem h1 {
    font-size: 68px;
  }
}

@media screen and (max-width: 767px) {
  .HeroWrapper {
    padding-top: 128px;
    padding-bottom: 80px;
  }

  .HeroItem h1 {
    font-size: 44px;
  }

  .HeroItem h1 span {
    font-size: 68px;
  }
}
