.HeroWrapper {
  padding-top: 19rem;
  padding-bottom: 14.8rem;
}

.HeroItem {
  width: 100%;
  margin-left: auto;
}
.HeroItem h1 {
  max-width: 42rem;
}

.HeroItem h1 span {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
  color: var(--yellow);
}
