.HeroWrapper {
  padding-top: 11.5rem;
  padding-bottom: 2.5rem;
}

.HeroContent p:nth-of-type(1) {
  font-family: "PPNeueBit-Bold";
  font-size: 1.5rem;
  line-height: 100%;
  color: var(--yellow);
  margin-bottom: 0.5rem;
}

.HeroContent p:nth-of-type(2) {
  line-height: 130%;
  color: var(--gray);
  max-width: 49.75rem;
}
.HeroContent h1 {
  font-family: "PPNeueBit-Bold";
  font-size: 4.25rem;
  line-height: 80%;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.Image {
  position: relative;
  width: 100%;
  height: 55rem;
  margin-top: 7.5rem;
}
.ShareWrapper a {
  width: auto;
  line-height: 130%;
  text-decoration: underline;
  justify-content: flex-start;
}

.ShareWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  justify-content: flex-end;
}

.NameWrapper p {
  line-height: 130%;
  color: var(--gray);
}

.NameWrapper span {
  color: var(--primary-white);
  text-decoration: underline;
}
.HeroSection progress {
  position: fixed;
  top: 64px;
  width: 100%;
  left: 0;
  z-index: 1000;
}

@media screen and (max-width: 991px) {
  .HeroWrapper {
    padding-top: 184px;
    padding-bottom: 5rem;
  }
  .CollFour {
    grid-row: 2;
    margin-top: 16px;
    padding-left: 11%;
  }
  .CollEight {
    grid-row: 1;
    padding-left: 11%;
    max-width: 680px;
  }
  .ShareWrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
  }
  .Image {
    margin-top: 5rem;
    height: 58vw;
  }
}
@media screen and (max-width: 767px) {
  .HeroWrapper {
    padding-top: 130px;
    padding-bottom: 40px;
  }
  .HeroContent p:nth-of-type(1) {
    font-size: 16px;
  }
  .HeroContent h1 {
    font-size: 44px;
    max-width: 336px;
  }
  .CollFour {
    margin-top: 40px;
    padding-left: 0;
  }
  .CollEight {
    padding-left: 0;
  }
  .ShareWrapper {
    flex-direction: column;
    column-gap: 16px;
  }
  .Image {
    margin-top: 40px;
  }
}
