.HeroMobile {
  display: none;
}

.HeroWrapper {
  height: 300vh;
  width: 100%;
  padding-bottom: 5rem;
}

.HeroSticky {
  position: sticky;
  height: 100vh;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImageWrapper {
  overflow: hidden;
  width: 42rem;
  background-color: transparent;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image {
  position: relative;
  width: 100%;
  height: 100vh;
}

.TitleWrapper {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  width: 49.74rem;
  text-align: center;
  margin-top: 4rem;
}

.TitleWrapper span {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
  color: var(--yellow);
}
.DateWrapper {
  position: absolute;
  width: 49.74rem;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  text-align: center;
}

.DateWrapper p {
  font-family: "PPNeue-Medium";
  font-size: 1rem;
  line-height: 100%;
  color: var(--gray);
  margin-top: 35rem;
}
@media screen and (max-width: 991px) {
  .HeroImageWrapper {
    width: 40em;
  }

  .TitleWrapper {
    width: 752px;
  }

  .TitleWrapper span {
    font-size: 90px;
  }
}
@media screen and (max-width: 767px) {
  .HeroWrapper {
    padding-top: 136px;
  }

  .TitleWrapperMobile h1 {
    text-align: left;
  }

  .HeroMobile span {
    font-size: 68px;
    font-family: "PPNeueBit-Bold";
    color: var(--yellow);
  }
  .HeroWrapper {
    height: auto;
  }
  .HeroSticky {
    position: static;
    height: auto;
  }
  .HeroMobile {
    display: block;
  }
  .HeroImageWrapper {
    display: none;
  }

  .TitleWrapper {
    position: static;
    transform: none;
    width: auto;
    align-items: flex-start;
  }
  .HeroMobile h1 {
    text-align: left;
  }
  .DateWrapper {
    position: static;
    transform: translate(0%, 0%);
    display: none;
  }
  .DateWrapper p {
    margin-top: 0;
  }
}
