.MainWrapper {
  padding-top: 0;
  padding-bottom: 5rem;
}

.RichWrapper h3 {
  font-family: "PPNeue-Book";
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--primary-white);
  width: 100%;
  padding-left: 20%;
  text-indent: 10%;
  margin-bottom: 2.5rem;
}

.RichWrapper h2 {
  font-family: "PPNeueBit-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: var(--primary-white);
  width: 100%;
  padding-left: 20%;
  margin-bottom: 1rem;
  padding-top: 2.5rem;
}
.RichWrapper p {
  font-size: 1.625rem;
  line-height: 130%;
  color: var(--gray);
  width: 100%;
  padding-left: 20%;
  padding-bottom: 2.5rem;
}

.RichWrapper .Image {
  position: relative;
  width: 100%;
  height: 45rem;
  margin-top: 2.5rem;
}

.RichWrapper .Caption {
  font-family: "PPNeue-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: var(--gray);
  padding-left: 0;
  margin-top: 1rem;
}

.RichWrapper ul {
  padding-left: 22%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-bottom: 2.5rem;
  margin: 0;
}

.RichWrapper ul li {
  font-size: 1.625rem;
  line-height: 100%;
}

.RichWrapper li::marker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--primary-white);
}
.RichWrapper .Quote {
  padding-left: 0;
  margin-left: 30%;
  margin-top: 2.5rem;
  padding-bottom: 5rem;
  max-width: 60%;
  font-size: 2.625rem;
  line-height: 130%;
  color: var(--white);
  padding-top: 1.5rem;
  border-top: 4px solid var(--yellow);
}

.StickyWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 5rem;
  position: sticky;
  top: 9.5rem;
  padding-bottom: 2.5rem;
}
.StickyWrapper a {
  line-height: 130%;
  display: inline-block;
  width: auto;
  text-decoration: underline;
}
.Progress {
  height: 4px;
  background-color: #11131a;
  width: 100%;
  position: fixed;
  top: 4.1rem;
  z-index: 3;
  margin-right: 0;
  left: 0;
  margin-left: 0;
}

.ProgressBar {
  height: 100%;
  background-color: var(--yellow);
  width: 0%;
}

@media screen and (max-width: 991px) {
  .MainWrapper {
    padding-bottom: 40px;
  }
  .CollTwo {
    display: none;
  }
  .RichWrapper h3 {
    padding-left: 0;
    margin-bottom: 40px;
  }
  .RichWrapper h2 {
    padding-left: 0;
    padding-top: 0;
  }
  .RichWrapper p {
    padding-left: 0;
  }
  .RichWrapper .Image {
    margin-top: 0;
    height: 62vw;
  }
  .RichWrapper ul {
    padding-left: 4%;
  }
  .RichWrapper .Quote {
    margin-left: 0;
    max-width: 680px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .MainWrapper {
    padding-bottom: 0;
  }
  .RichWrapper h3 {
    font-size: 24px;
    text-indent: 20%;
  }
  .RichWrapper h2 {
    font-size: 44px;
  }
  .RichWrapper p {
    font-size: 16px;
  }
  .RichWrapper .Caption {
    font-size: 14px;
    margin-top: 0.5rem;
  }

  .RichWrapper ul {
    row-gap: 0.5rem;
    padding-bottom: 24px;
  }
  .RichWrapper ul li {
    font-size: 14px;
    line-height: 130%;
  }
  .RichWrapper li::marker {
    font-size: 1.1rem;
  }
  .RichWrapper .Quote {
    font-size: 24px;
    padding-top: 8px;
    border-top: 2px solid var(--yellow);
    margin-top: 0;
  }
  .Progress {
    height: 2px;
    position: fixed;
    top: 0;
    z-index: 3;
    margin-right: 0;
    left: 0;
    margin-left: 0;
  }
}
