.ItemWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  column-gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.ItemWrapper > div:nth-of-type(6n + 1) {
}
.ItemWrapper > div:nth-of-type(6n + 2) {
}
.ItemWrapper > div:nth-of-type(6n + 3) {
}
.ItemWrapper > div:nth-of-type(6n + 4) {
  margin-top: -5rem;
  align-self: center;
}
.ItemWrapper > div:nth-of-type(6n + 5) {
  margin-top: -5rem;
  align-self: center;
}
.ItemWrapper > div:nth-of-type(6n + 6) {
  margin-top: -5rem;
  align-self: center;
}

.ItemWrapper div:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.ItemWrapper div:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.ItemWrapper div:nth-of-type(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.YellowCard {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: -5rem;
}

.ItemWrapper > div:nth-of-type(6n + 1) div a div div div {
  height: 25rem;
}
.ItemWrapper > div:nth-of-type(6n + 2) div a div div div {
  height: 20rem;
}
.ItemWrapper > div:nth-of-type(6n + 3) div a div div div {
  height: 15rem;
}
.ItemWrapper > div:nth-of-type(6n + 4) div a div div div {
  height: 15rem;
}
.ItemWrapper > div:nth-of-type(6n + 5) div a div div div {
  height: 20rem;
}
.ItemWrapper > div:nth-of-type(6n + 6) div a div div div {
  height: 25rem;
}

.ItemWrapper div:nth-of-type() div a div div div {
  height: 20rem;
}

.ItemWrapperStatic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  align-items: center;
}

.ItemWrapperStatic div:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 5;
}
.ItemWrapperStatic div:nth-of-type(2) {
  grid-column-start: 5;
  grid-column-end: 9;
}
.ItemWrapperStatic div:nth-of-type(3) {
  grid-column-start: 9;
  grid-column-end: 13;
}

.ItemWrapperStatic div:nth-of-type(1) div a div div div {
  height: 15rem;
}
.ItemWrapperStatic div:nth-of-type(2) div a div div div {
  height: 20rem;
}
.ButtonWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.Button {
  border: 1px solid var(--gray);
  border-radius: 6.25rem;
  padding: 0.5rem 1rem;
  font-family: PPNeue-Medium;
  font-size: 1.625rem;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 991px) {
  .ItemWrapper {
    padding-top: 0;
    row-gap: 20px;
  }
  .ItemWrapper > div:nth-of-type(6n + 4) {
    margin-top: -20px;
    align-self: center;
  }
  .ItemWrapper > div:nth-of-type(6n + 5) {
    margin-top: -20px;
    align-self: center;
  }
  .ItemWrapper > div:nth-of-type(6n + 6) {
    margin-top: -20px;
    align-self: center;
  }

  .ItemWrapper > div:nth-of-type(6n + 1) div a div div div {
    height: 27vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 2) div a div div div {
    height: 22vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 3) div a div div div {
    height: 17vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 4) div a div div div {
    height: 17vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 5) div a div div div {
    height: 22vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 6) div a div div div {
    height: 27vw;
  }
}

@media screen and (max-width: 767px) {
  .ItemWrapper {
    row-gap: 40px;
  }
  .ItemWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .ItemWrapper > div:nth-of-type(6n + 4) {
    margin-top: 0;
    align-self: center;
  }
  .ItemWrapper > div:nth-of-type(6n + 5) {
    margin-top: 0;
    align-self: center;
  }
  .ItemWrapper > div:nth-of-type(6n + 6) {
    margin-top: 0;
    align-self: center;
  }

  .ItemWrapper > div:nth-of-type(6n + 1) div a div div div {
    height: 64vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 2) div a div div div {
    height: 64vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 3) div a div div div {
    height: 64vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 4) div a div div div {
    height: 64vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 5) div a div div div {
    height: 64vw;
  }
  .ItemWrapper > div:nth-of-type(6n + 6) div a div div div {
    height: 64vw;
  }

  .ItemWrapper div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .ItemWrapper div:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .ItemWrapper div:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .YellowCard {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .Button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
