.SkillsSection {
  background-color: var(--white);
  padding-top: 5rem;
}

.SkillsWrapperLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.SkillsWrapperLeftLast {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.AboutTitle {
  color: var(--black);
  line-height: 100%;
  letter-spacing: -0.02em;
}
.AboutTitleMargin {
  color: var(--black);
  line-height: 100%;
  letter-spacing: -0.02em;
}
.AboutP {
  line-height: 130%;
  color: var(--gray);
}
.SmallContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  row-gap: 1.5rem;
}
.SmallContent p {
  max-width: 14.5rem;
}

.h1 {
  font-family: "PPNeueBit-Bold";
  letter-spacing: -0.02em;
  max-width: 32rem;
  color: var(--black);
}
.Skills {
  width: 42rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.SkillsItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.SkillsItemWrapper:nth-of-type(6) .ProgressWrapper {
  height: 0;
}
.ProgressWrapper {
  width: 100%;
  background-color: #d9d9d9;
  height: 1px;
}

.Progress {
  height: 100%;
  background-color: var(--gray);
  width: 0%;
  transition: all 0.5s ease-in-out;
}

.SkillsItemWrapper:hover .Progress {
  width: 100%;
}
.CaseItemWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: end;
}
.CaseItemWrapper div:nth-of-type(1) div a div div div {
  height: 20rem;
}

.CaseItemWrapper div:nth-of-type(2) div a div div div {
  height: 25rem;
}
.CaseItemWrapper h2 {
  color: var(--black);
}
.NumbersWrapper {
  padding-top: 5rem;
}
.Numbers {
  width: 100%;
}
.NumberItem {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
}
.NumberItem h1 {
  margin-top: 0.6875rem;
}
.NumberItem h1:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.NumberItem h1:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 6;
}

.NumberItem p {
  grid-column-start: 6;
  grid-column-end: 9;
  width: 14.5rem;
}

.WorkWrapper {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #dddddd;
}
.Margin {
  padding-bottom: 2.5rem;
  border-top: 1px solid #dddddd;
}

.MobileTitle {
  display: none;
}
.WorkItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.WorkItem p:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  text-indent: 7rem;
}

.WorkItem p:nth-child(2) {
  grid-column-start: 5;
  grid-column-end: 8;
}
.SmallContentMobile {
  display: none;
}
.SmallContentAbout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  row-gap: 1.5rem;
}
.SmallContentAbout p {
  max-width: 14.5rem;
}
.Numbers .SkillsItemWrapper:nth-of-type(1) {
  border-top: 1px solid #d9d9d9;
}

@media screen and (max-width: 991px) {
  .SkillsSection {
    padding-top: 2.5rem;
  }
  .AboutTitle {
    margin-bottom: 2.5rem;
  }
  .SmallContent {
    display: none;
  }
  .SmallContentMobile {
    display: flex;
    width: 240px;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 64px;
  }
  .SmallContentAbout {
    margin-bottom: 5rem;
  }
  .AboutTitleMargin {
    margin-bottom: 1rem;
  }
  .SmallContentAbout p {
    max-width: 272px;
  }
  .SkillsWrapperLeftLast {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  .SkillsWrapperLeftLast .AboutTitle {
    margin-bottom: 0;
  }
  .SkillsWrapperLeftLast .SmallContentAbout {
    margin-bottom: 0;
  }
  .WorkItem {
    display: flex;
    justify-content: space-between;
  }
  .WorkItem p:nth-child(1) {
    width: 332px;
    text-indent: 13vw;
  }

  .WorkItem p:nth-child(2) {
    width: 332px;
  }
  .NumberItem p {
    grid-column-start: 6;
    grid-column-end: 9;
    width: 272px;
  }
  .h1 {
    font-size: 68px;
  }
}
@media screen and (max-width: 767px) {
  .AboutTitle {
    font-size: 1rem;
  }
  .h1 {
    font-size: 42px;
    line-height: 80%;
  }
  .SkillsItem {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
  }
  .Skills .ProgressWrapper {
    display: none;
  }
  .AboutP {
    font-size: 14px;
  }
  .Skills {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 100%;
  }
  .SkillsItem p {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
  }
  .Skills .SkillsItemWrapper:nth-of-type(6) .SkillsItem p:nth-of-type(2) {
    border-bottom: none;
  }

  .SmallContentMobile {
    width: 100%;
    align-items: flex-start;
    row-gap: 1rem;
    margin-bottom: 40px;
  }
  .SmallContentMobile .AboutP {
    font-size: 16px;
  }
  .CaseItemWrapper {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .CaseItemWrapper div:nth-of-type(1) div a div div div {
    height: 65vw;
  }
  .CaseItemWrapper div:nth-of-type(2) div a div div div {
    height: 65vw;
  }
  .AboutTitleMargin {
    font-size: 1rem;
  }
  .SmallContentAbout {
    width: auto;
    margin-bottom: 40px;
  }
  .SmallContentAbout p {
    font-size: 16px;
    max-width: none;
  }

  .NumberItem .h1 {
    display: none;
  }
  .MobileTitle {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .NumberItem .MobileTitle .h1 {
    display: block;
    margin-top: 0;
  }
  .NumberItem p {
    grid-column-start: 5;
    grid-column-end: 9;
    width: 100%;
  }
  .NumberItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .SkillsWrapperLeftLast {
    padding-bottom: 16px;
  }
  .WorkItem {
    flex-direction: column;
    row-gap: 1rem;
  }
  .WorkItem p:nth-child(1) {
    text-indent: 22vw;
  }
}
