.SkillsSection {
  background-color: var(--white);
  padding-top: 5rem;
}

.SkillsWrapperLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.AboutTitle {
  color: var(--black);
  line-height: 100%;
  letter-spacing: -0.02em;
}
.AboutP {
  line-height: 130%;
  color: var(--gray);
}
.SmallContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;
  row-gap: 1.5rem;
}
.SmallContent p {
  max-width: 14.5rem;
}

.h1 {
  font-family: "PPNeueBit-Bold";
  letter-spacing: -0.02em;
  max-width: 32rem;
  color: var(--black);
}
.Skills {
  width: 42rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.SkillsItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.SkillsItemWrapper:nth-of-type(6) .ProgressWrapper {
  height: 0;
}
.ProgressWrapper {
  width: 100%;
  background-color: #d9d9d9;
  height: 1px;
}

.Progress {
  height: 100%;
  background-color: var(--gray);
  width: 0%;
  transition: all 0.5s ease-in-out;
}

.SkillsItemWrapper:hover .Progress {
  width: 100%;
}
.CaseItemWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: end;
}
.CaseItemWrapper div:nth-of-type(1) div a div div div {
  height: 20rem;
}

.CaseItemWrapper div:nth-of-type(2) div a div div div {
  height: 25rem;
}
.CaseItemWrapper h2 {
  color: var(--black);
}
.NumbersWrapper {
  padding-top: 5rem;
}
.Numbers {
  width: 100%;
}
.NumberItem {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
}
.NumberItem h1 {
  margin-top: 0.6875rem;
}
.NumberItem h1:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.NumberItem h1:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 6;
}

.NumberItem p {
  grid-column-start: 6;
  grid-column-end: 9;
  width: 14.5rem;
}

.SkillsItemWrapper:nth-of-type(1) {
  border-top: 1px solid #d9d9d9;
}
.WorkWrapper {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #dddddd;
}
.Margin {
  padding-bottom: 2.5rem;
  border-top: 1px solid #dddddd;
}
.WorkItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.WorkItem p:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  text-indent: 7rem;
}

.WorkItem p:nth-child(2) {
  grid-column-start: 5;
  grid-column-end: 8;
}
