* {
  box-sizing: border-box;
  font-family: "PPNeue-Medium";
}

@font-face {
  font-family: "PPNeue-Regular";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("PPNeue-Regular"), url("/fonts/PPNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPNeue-Book";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("PPNeue-Book"), url("/fonts/PPNeue-Book.woff") format("woff");
}

@font-face {
  font-family: "PPNeue-Medium";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: local("PPNeue-Medium"), url("/fonts/PPNeue-Medium.woff") format("woff");
}

@font-face {
  font-family: "PPNeue-Bold";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("PPNeue-Bold"), url("/fonts/PPNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: "PPNeueBit-Bold";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("PPNeueBit-Bold"), url("/fonts/PPNeueBit-Bold.woff") format("woff");
}

:root {
  --white: #ffffff;
  --primary-white: #e4e4e4;
  --black: #06080f;
  --gray: #75767a;
  --yellow: #cffd04;
}

html {
  scroll-behavior: smooth;
}
:root {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: var(--black);
  color: var(--primary-white);
  line-height: 100%;
}

body {
  min-height: 0vw;
  font-size: calc(0.6122848200312989vw + 0.3092723004694837em);
}

.container {
  max-width: 97.5em;
  margin: 0 auto;
  padding-left: 2.22em;
  padding-right: 2.22em;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "PPNeue-Book";
  font-size: 4.25rem;
  line-height: 80%;
}
h2 {
  font-size: 1.625rem;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 100%;
}

.p-large {
  font-family: "PPNeue-Book";
  font-style: normal;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--gray);
}
.p-large-white {
  font-family: "PPNeue-Book";
  font-style: normal;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--primary-white);
}

a {
  color: inherit;
  text-decoration: none;
}

/* header description */
.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: var(--primary-white);
}
.dot-black {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: var(--black);
}
.dotWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
}
.dotWrapperAbout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
}

.dotWrapper-black {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray);
}
.gray {
  color: var(--gray);
}
.black {
  color: var(--black);
}

.p-about {
  font-family: "PPNeue-Medium";
  font-size: 1.625rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*.coll-8 {
  width: 64em;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

.coll-10 {
  grid-column-start: 3;
  grid-column-end: 13;
}
.coll-9 {
  grid-column-start: 4;
  grid-column-end: 13;
}

.coll-8 {
  grid-column-start: 5;
  grid-column-end: 13;
}
.coll-7 {
  grid-column-start: 5;
  grid-column-end: 12;
}
.coll-5 {
  grid-column-start: 8;
  grid-column-end: 13;
}

.coll-6 {
  grid-column-start: 5;
  grid-column-end: 11;
}
.coll-4 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.coll-3 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.coll-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
/*yellow card start*/
.yellow-card {
  background-color: var(--yellow);
  width: 100%;
  height: 31.8rem;
  padding-top: 6.125rem;
  padding-bottom: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.h1-card {
  font-family: "PPNeueBit-Bold";
  font-size: 6.875rem;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.p-card {
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black);
  max-width: 20.75rem;
  margin-bottom: 2rem;
}

.input-wrapper {
  max-width: 20.75rem;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--black);
  width: 100%;
  font-family: "PPNeueBit-Bold";
  color: var(--black);
  text-align: center;
  font-size: 1.5rem;
  line-height: 80%;
  letter-spacing: -0.02em;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
}
.input-wrapper input::placeholder {
  color: var(--black);
  text-transform: uppercase;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.input-wrapper input:focus {
  border-bottom: 1px solid var(--gray) !important;
}
.submit-button {
  border: 1px solid var(--black);
  border-radius: 6.25rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: "PPNeue-Medium";
  color: var(--black);
  font-size: 1.625rem;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-button:hover {
  background-color: var(--black);
  color: var(--primary-white);
}

.load-button {
  font-family: "PPNeue-Medium";
  border: 1px solid var(--gray);
  border-radius: 6.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--black);
  font-family: "PPNeue-Medium";
  color: var(--primary-white);
  font-size: 1.625rem;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-wrapper:hover .load-button {
  background-color: var(--primary-white);
  color: var(--black);
  border: 1px solid var(--primary-white);
}

.p-card-last {
  max-width: 13.5rem;
  color: var(--black);
  margin-top: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  transition: all 0.5s ease-in-out;
}

.item-load {
  display: none;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  margin-top: -100rem;
}

.load-more .item-load {
  display: block;
  opacity: 1;
  margin-top: 0;
}

.load-more .button-wrapper {
  display: none;
  opacity: 0;
}

/*yellow card end*/

/* progress bar*/
progress {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13rem;
  height: 0.5rem;
  z-index: 10000;
  position: absolute;
  border-radius: 1.25rem;
  z-index: 10;
}

::-webkit-progress-bar {
  background-color: #11131a;
}

::-webkit-progress-value {
  background-color: var(--yellow);
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 0.90625em;
  }
}
/* Min Font Size */

@media screen and (max-width: 1439px) {
  .yellow-card {
    height: 29.8rem;
  }
}
@media screen and (max-width: 991px) {
  body {
    font-size: calc(0.20181634712411706vw + 0.625em);
  }
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  h1 {
    font-size: 64px;
  }

  .dotWrapper {
    margin-bottom: 5rem;
  }

  .coll-8 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .coll-4 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .p-about {
    margin-bottom: 40px;
  }
  .dotWrapper-black {
    padding-bottom: 2.5rem;
  }
  .coll-7 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .coll-3 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .coll-9 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .coll-10 {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .yellow-card {
    height: auto;
    padding: 6.7vw 1.88vw;
  }
  .h1-card {
    font-size: 68px;
  }
  .p-card {
    font-size: 1.67vw;
    margin-bottom: 24px;
    max-width: none;
  }
  .input-wrapper {
    max-width: none;
  }
  .input-wrapper input {
    padding-bottom: 8px;
  }
  .p-card-last {
    font-size: 1.67vw;
    max-width: 23vw;
    margin-top: 16px;
  }
  .button-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 44px;
    line-height: 120%;
  }
  .dotWrapper {
    margin-bottom: 40px;
  }
  .dotWrapper p {
    font-size: 14px;
  }

  .dotWrapperAbout p {
    font-size: 14px;
  }
  .dotWrapper-black p {
    font-size: 14px;
  }
  .p-large {
    font-size: 24px;
  }
  .p-large-white {
    font-size: 24px;
  }
  .p-about {
    font-size: 1rem;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  .dot-black {
    width: 10px;
    height: 10px;
  }

  .yellow-card {
    padding-top: 56px;
    padding-bottom: 40px;
    height: auto;
  }
  .p-card {
    font-size: 14px;
    max-width: 208px;
  }
  .p-card-last {
    font-size: 14px;
    max-width: 189px;
    margin-top: 32px;
  }
  .input-wrapper {
    width: 208px;
  }
  .button-wrapper {
    margin-top: 40px;
  }
  .load-button {
    padding: 4px 8px;
    font-size: 16px;
  }
  .load-more {
    padding-bottom: 40px;
  }
}
